{% extends 'dashboard.html.twig' %}

{% block title %}Edit Profile{% endblock %}

{% block body %}
    <h2>Edit Profile</h2>

    {# Affichage des messages flash #}
    {% for flash_message in app.flashes('success') %}
        <div class="alert alert-success">{{ flash_message }}</div>
    {% endfor %}
    {% for flash_message in app.flashes('error') %}
        <div class="alert alert-danger">{{ flash_message }}</div>
    {% endfor %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
