{% set productFormContent %}
    {{ form_start(formProduct) }}
        {{ form_row(formProduct.productName) }}
        {{ form_row(formProduct.description) }}
        {{ form_row(formProduct.unitPrice) }}
        {{ form_row(formProduct.category) }}
        {{ form_row(formProduct.imageFile) }}
        {% include 'components/_button.html.twig' with {
            'text': 'Ajouter',
            'bgColor': 'green',
            'textColor': 'white',
        } %}
    {{ form_end(formProduct) }}
{% endset %}

{{ form_start(form, {'attr': {'class': 'flex flex-col'}}) }}
    <div class="order-2" id="invoiceDetails" data-index="{{ form.invoiceDetails|length }}" data-prototype="{{ form_widget(form.invoiceDetails.vars.prototype)|e('html_attr') }}">
        {% for invoiceDetailForm in form.invoiceDetails %}
            <!-- invoiceDetail edit -->
            <div class="invoiceDetailItem flex items-center justify-between bg-gray-100 p-4 rounded mb-4">
                {{ form_row(invoiceDetailForm, {'attr': {'class': 'flex gap-5'}}) }}
                {% include 'components/_button.html.twig' with {
                    'class': 'remove-detail',
                    'button_label': 'x',
                    'bgColor': 'red',
                    'textColor': 'white',
                } %}
            </div>
        {% endfor %}
        </div>
    {{ form_row(form.userReference) }}
    <div class="order-3 flex items-center justify-between">
        <div>
            {% include 'components/_button.html.twig' with {
                'text': 'Créer',
                'bgColor': 'green',
                'textColor': 'white',
            } %}
        </div>
        <div>
            <p>Total TTC : <span class="totalTTC">
                {% if invoice is defined %}
                    {{ invoice.totalTTC }} €
                {% else %}
                    0.00 €
                {% endif %}
            </span></p>
            <p>Total HT : <span class="totalHT">
                {% if invoice is defined %}
                    {{ invoice.totalHT }} €
                {% else %}
                    0.00 €
                {% endif %}
            </span></p>
        </div>
    </div>
{{ form_end(form) }}

<div class="flex items-center gap-5 mb-2">
    <h2 class="text-xl">Ajouter une nouvelle ligne</h2>
    {% include 'components/_button.html.twig' with {
        'class': 'add-detail',
        'button_label': '+',
        'bgColor': 'green',
        'textColor': 'white',
    } %}
    {% embed 'components/_modal.html.twig' with {
        'buttonTitle': 'Ajouter un nouveau produit', 
        'title': 'Nouveau produit', 
    } %}
        {% block content %}
            {{ productFormContent }}
        {% endblock %}
    {% endembed %}
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('prototype') }}
{% endblock %}
