{{ form_start(form, {'attr': {'class': 'flex flex-col'}}) }}
    <button type="button" class="add-detail bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">+</button>
    <div class="order-3" id="invoiceDetails" data-index="{{ form.invoiceDetails|length }}" data-prototype="{{ form_widget(form.invoiceDetails.vars.prototype)|e('html_attr') }}">
        {% for invoiceDetailForm in form.invoiceDetails %}
            <div class="invoiceDetailItem">
                {{ form_row(invoiceDetailForm) }}
                <button type="button" class="remove-detail bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">x</button>
            </div>
        {% endfor %}
    </div>
    <div>
        <p>Total TTC : <span class="totalTTC"></span></p>
        <p>Total HT : <span class="totalHT"></span></p>
    </div>
    {{ form_row(form.paymentStatus) }}
    {{ form_row(form.userReference) }}
    <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">{{ button_label|default('Créer') }}</button>
{{ form_end(form) }}

{% block javascripts %}
    {{ encore_entry_script_tags('prototype') }}
{% endblock %}
