{# templates/company/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Liste des clients{% endblock %}

{% block body %}
    <h1>Liste des clients de la société {{ company.companyName }}</h1>
    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Vérifié</th>
            <th>Créé le</th>
            <th>Modifié le</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.lastName }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.verified ? 'Oui' : 'Non' }}</td>
                <td>{{ user.createdAt ? user.createdAt|date('d/m/Y H:i:s') : '' }}</td>
                <td>{{ user.updatedAt ? user.updatedAt|date('d/m/Y H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('back_customer_show', {'id': user.id}) }}">Voir</a>
                    <a href="{{ path('back_customer_edit', {'id': user.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun client trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('back_customer_new') }}">Créer un nouveau client </a>
{% endblock %}
