{# templates/user/show.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Détails du client{% endblock %}

{% block body %}
    <h1>Détails du client</h1>

    <table>
        <tr>
            <th>Nom :</th>
            <td>{{ user.lastName }}</td>
        </tr>
        <tr>
            <th>Prénom :</th>
            <td>{{ user.firstName }}</td>
        </tr>
        <tr>
            <th>Email :</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Vérifié :</th>
            <td>{{ user.verified ? 'Oui' : 'Non' }}</td>
        </tr>
        <tr>
            <th>Créé le :</th>
            <td>{{ user.createdAt ? user.createdAt|date('d/m/Y H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Modifié le :</th>
            <td>{{ user.updatedAt ? user.updatedAt|date('d/m/Y H:i:s') : '' }}</td>
        </tr>
    </table>

    <a href="{{ path('back_customer_index') }}">Retour à la liste des clients</a>
    <a href="{{ path('back_customer_edit', {id: user.id}) }}">Modifier</a>
{% endblock %}
