<footer class="flex flex-col items-center justify-center gap-4 bg-footerBg py-5">
    <img class="w-24" src="{{ asset('images/Logo.png') }}" alt="Logo" />
    <ul class="flex flex-col gap-4 md:flex-row md:gap-8">
        <li><a class="font-medium text-sm md:text-base" href="{{ path('front_homepage') }}">Accueil</a></li>
        <li><a class="font-medium text-sm md:text-base" href="{{ path('front_about') }}">A propos</a></li>
        <li><a class="font-medium text-sm md:text-base" href="{{ path('front_contact') }}">Contactez-nous</a></li>
    </ul>
    <div class="flex gap-6">
        <a class="flex items-center justify-center w-10 h-10 rounded-full bg-primary" href="#">
            <img src="{{ asset('images/Facebook.svg') }}" alt="Facebook" class="w-5 h-5" />
        </a>
        <a class="flex items-center justify-center w-10 h-10 rounded-full bg-primary" href="#">
            <img src="{{ asset('images/Linkedin.svg') }}" alt="Linkedin" class="w-5 h-5" />
        </a>
        <a class="flex items-center justify-center w-10 h-10 rounded-full bg-primary" href="">
            <img src="{{ asset('images/IG.svg') }}" alt="Instagram" class="w-5 h-5" />
        </a>
        <a class="flex items-center justify-center w-10 h-10 rounded-full bg-primary" href="#">
            <img src="{{ asset('images/X.svg') }}" alt="X" class="w-5 h-5" />
        </a>
    </div>
    <div class="w-4/5 border border-bg-primary opacity-20 my-5"></div>
    <div class="flex lg:flex-row md:flex-row flex-col w-4/5 justify-between items-center">
        <ul class="flex lg:gap-5 gap-2 order-1 lg:order-1 md:order-1">
            <li><a class="font-medium text-sm lg:text-base" href="#">Mentions légales</a></li>
            <li><a class="font-medium text-sm lg:text-base" href="#">CGU</a></li>
        </ul>
        <p class="order-3 lg:order-2 md:order-3 text-sm">@Quotify 2024</p>
        <ul class="flex lg:gap-5 gap-2 order-2 lg:order-3 md:order-2">
            <li><a class="font-medium text-sm lg:text-base" href="#">Données personnelles</a></li>
            <li><a class="font-medium text-sm lg:text-base" href="#">Cookies</a></li>
        </ul>
    </div>    
</footer>
