{{ form_start(form) }}
    <div class="flex items-center gap-5 mb-2">
        <h2 class="text-xl">Ajouter une nouvelle ligne</h2>
        {% include 'components/_button.html.twig' with {
            'class': 'add-detail',
            'button_label': '+',
            'bgColor': 'green',
            'textColor': 'white',
        } %}
    </div>
    <div class="order-3" id="quotationDetails" data-index="{{ form.quotationDetails|length }}" data-prototype="{{ form_widget(form.quotationDetails.vars.prototype)|e('html_attr') }}">
        {% for quotationDetailForm in form.quotationDetails %}
            <!-- quotationDetail edit -->
            <div class="quotationDetailItem flex items-center justify-between bg-gray-100 p-4 rounded mb-4">
                {{ form_row(quotationDetailForm, {'attr': {'class': 'flex gap-5'}}) }}
                {% include 'components/_button.html.twig' with {
                    'class': 'remove-detail',
                    'button_label': 'x',
                    'bgColor': 'red',
                    'textColor': 'white',
                } %}
            </div>
        {% endfor %}
        </div>
    {{ form_row(form.userReference) }}
    <div class="flex items-center justify-between">
        <div>
            {% include 'components/_button.html.twig' with {
                'text': 'Créer',
                'bgColor': 'green',
                'textColor': 'white',
            } %}
        </div>
        <div>
            <p>Total TTC : 
                <span class="totalTTC">0.00 €</span>
            </p>
            <p>Total HT : 
                <span class="totalHT">0.00 €</span>
            </p>
        </div>
    </div>
{{ form_end(form) }}

{% block javascripts %}
    {{ encore_entry_script_tags('prototype') }}
{% endblock %}
